{% extends "base-template.html" %}
{% block title %}
    Start page
{% endblock %}
{% block headline %}
    <h1>Welcome to the community!</h1>
{% endblock %}
{% block content %}
    <div class="log-in-box">
        <p> Enter username and password </p>
        <form class = "log-in-form" action="/authenticate/login" method="post">
            <input class = "log-in-text" type="text" name="user_name" placeholder="Username" />
            <br/>

            <input class = "log-in-text" type="text" name="password" placeholder="Password" />
            <br/>
            <input type="submit" value="Enter">
        </form>
        <p> Do not have an account yet?</p>
        <a href="/create_user"> Sign Up </a>

    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/source.js') }}"></script>

{% endblock %}