<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock %}</title>
    <h1>{% block headline %}{% endblock %}</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

</head>
<body>
    {% if current_user.signed_in %}
        <a href="{{ url_for("bp_user.user_get") }}"> Home </a>
        <a href='{{ url_for('bp_user.get_user_profile', user_id=current_user.id) }}'>Profile</a>
        <a href="{{ url_for("bp_user.mailbox_get") }}"> Mailbox </a>
        <a href="{{ url_for("bp_user.sign_out") }}"> Log out </a>
        {% if current_user.admin %}
            <a href="{{ url_for("bp_user.get_admin_all_messages") }}"> Admin </a>
        {% endif %}
        <div id="message-icon" class="message"></div>
        <a href="{{ url_for("bp_user.mailbox_get") }}" class="message">
            <i class="fa fa-fw fa-envelope-open no-new-msg" id="message-symbol">
                <span class="sup" id="message-count"></span>
            </i> {# fa-envelope #}
        </a>

        <script id="checkMessagesJS">
            checkForMessages()
            setInterval(checkForMessages, 5000)

            function checkForMessages() {
            // fetch is by default a GET method
                fetch("http://127.0.0.1:5010/check_messages")
                    // The promise does just that promises data will be given. => the lambda gives us an anonymous
                    // function.
                    .then(response => response.json())
                    .then(msgCount => {
                        let messageSymbol = document.getElementById("message-symbol");
                        let messageCount = document.getElementById("message-count")
                        if(msgCount.newMessages === 0) {
                            messageSymbol.classList.remove("fa-envelope")
                            messageSymbol.classList.remove("new-msg")
                            messageSymbol.classList.add("fa-envelope-open")
                            messageSymbol.classList.add("no-new-msg")
                            messageCount.innerHTML = ""
                        }
                        else {
                            messageSymbol.classList.remove("fa-envelope-open")
                            messageSymbol.classList.remove("no-new-msg")
                            messageSymbol.classList.add("fa-envelope")
                            messageSymbol.classList.add("new-msg")
                            messageCount.innerHTML = msgCount.newMessages
                        }
                    });

            }
        </script>
    {% else %}
        <a href="{{ url_for("bp_open.index") }}"> Home </a>
    {% endif %}
    <hr>
    {% block content %}

    {% endblock %}

    {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    {% endblock %}
</body>
</html>