<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock %}</title>
    <h1>{% block headline %}{% endblock %}</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

</head>
<body>
    {% if current_user.signed_in %}
        <a href="{{ url_for("bp_user.user_get") }}"> Home </a>
        <a href='{{ url_for('bp_user.get_user_profile', user_id=current_user.id) }}'>Profile</a>
        <a href="{{ url_for("bp_user.mailbox_get") }}"> Mailbox </a>
        <a href="{{ url_for("bp_user.sign_out") }}"> Log out </a>
    {% else %}
        <a href="{{ url_for("bp_open.index") }}"> Home </a>
    {% endif %}
    <hr>
    {% block content %}

    {% endblock %}

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/source.js')}}"></script>
    {% endblock %}
</body>
</html>