{% extends "base-template.html" %}

{% block headline %}
    <h1>Create User</h1>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <div class="log-in-box">
    <form onsubmit="return verifyPassword()">
        <label class="form_label" for="username"> Username </label>
        <input type="text" name="user_name"/>
        <br/>
        <br/>
        <label class="form_label" for="email"> Email </label>
        <input type="email" name="email"/>
        <br/>
        <br/>
        <label class="form_label" for="password"> Password </label>
        <input type="password" name="password" id="pswd" value=""/>
        <br/>
        <span class = "notification" id="pswd_notification"> </span>
        <br/>
        <label class="form_label" for="password_repeat"> Repeat password </label>
        <input type="password" name="password" id="pswd_repeat" value=""/>
        <br/>
        <span class = "notification" id="pswd_notification"> </span>
        <br/>
        <input type="submit" value="Register">
    </form>

    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/source.js') }}">
    </script>
{% endblock %}