{% extends "base-template.html" %}

{% block headline %}
    <h1> {{ user.name }} Profile </h1>
{% endblock %}

{% block content %}
    {% if user==current_user %}
        <h2>This is your profile</h2>
    {% if chat_requests %}
        {% for chat_request in chat_requests %}
            {% if chat_request.user_b_accepted == 0 %}
            <p>You have a request to chat from {{ chat_request.sender_id }}</p>
            <form action="{{ url_for('bp_user.accept_chat', chat_id=chat_request.id) }}", method="post">
            <input type="submit" value="Accept request?">
            {% else %}
                <p> You have accepted to chat with {{ chat_request.sender_id }}. Start your socket client, confirm when key has been sent. </p>
                <form action >
            {% endif %}
        {% endfor %}
    {% else %}
        <p>You do not have any request</p>
    {% endif %}

    {% else %}
        <h3>Send a message</h3>
        <form action="{{ url_for('bp_user.message_post') }}", method="post">
            <input type="text" name="title" placeholder="Title"/><br>
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <textarea name="body" placeholder="Enter message..."></textarea><br>
            <input type="submit" value="Send">
        </form>
    {% endif %}
    {% if user.signed_in %}
        <h3>{{ user.name }} is online</h3>
        <form action="{{ url_for('bp_user.send_chat_request', user_id=user.id) }}" method="post">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="submit" value="Request chat">
        </form>
    {% else %}
        <h3>{{ user.name }} is offline</h3>

    {% endif %}


{% endblock %}