{% extends "base-template.html" %}

{% block headline %}
    <h1> {{ user.name }} Profile </h1>
{% endblock %}

{% block content %}
    {% if user==current_user %}
        <h2>This is your profile</h2>
        {% if chat_requests %}
            {% for chat_request in chat_requests %}
                {% if chat_request.user_b_accepted == 0 %}
                    <p>You have a request to chat from {{ chat_request.sender_id }}</p>
                    < action="{{ url_for('bp_user.accept_chat', chat_id=chat_request.id) }}", method="post">
                    <input type="submit" value="Accept request?">
                {% else %}
                    <p> You have accepted to chat with {{ chat_request.sender_id }}. Start your socket client, confirm when key has been sent. </p>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>You do not have any request</p>
        {% endif %}
    {% else %}
        <h3>Send a message</h3>


        <input type="text" placeholder="title" id="title_content"><br/>
        <input type="text" placeholder="Message" id="msg_content"><br/>
        <input type="hidden" id="encrypted_aes_key" value="key"><br/>
        <input type="hidden" value="{{ user.id }}">

        <button type="button" onclick="encryptMessage()"> Submit </button>

    {% endif %}
    {% if user.signed_in %}
        {% if user!=current_user %}
        <h3>{{ user.name }} is online</h3>
        <form action="{{ url_for('bp_user.send_chat_request', user_id=user.id) }}" method="post">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <input type="submit" value="Request chat">
        </form>
    {% else %}
        <h3>{{ user.name }} is offline</h3>
        {% endif %}
    {% endif %}


{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="/static/js/rsa.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>


        let key;
        let public_key


        function encryptMessage() {
            const xhttp = new XMLHttpRequest();

            xhttp.onload = function() {
                public_key = JSON.parse(this.responseText);
                encryptMessage()  //Retrieving recv pub key from server
                key = CryptoJS.lib.WordArray.random(16).toString(); //Creating an AES key

                let message = document.getElementById("msg_content").value; //Extract values
                let title = document.getElementById("title_content").value; //Extract values

                let encrypted_title = CryptoJS.AES.encrypt(title, key); //Encrypt title with aes
                let encrypted_body = CryptoJS.AES.encrypt(message, key);

                let AESKey = encryptAESKey(public_key);  //Encrypt AES with RSA key


                let data = {title: encrypted_title.toString(), body: encrypted_body.toString(), aes_key: AESKey.toString()};


                fetch("http://127.0.0.1:5000/message", {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(data)
                });
            }

            xhttp.open('GET', "http://127.0.0.1:5000/user_pubkey/{{ user.id }}")
            xhttp.send()
        }


        function encryptAESKey() {

            let rsaEncrypt = new JSEncrypt();

            rsaEncrypt.setPublicKey(public_key);

            let encryptedAesKey = rsaEncrypt.encrypt(key);
            console.log(key);
            console.log(public_key);
            return encryptedAesKey;
        }


    </script>
{% endblock %}